@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    background: url('../img/logo.jpg');
}

#content {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    opacity: 0.9;
<<<<<<< HEAD
    height: 100vh;
=======
    width: 100%;
    position: relative !important;
    height: 100% !important;
    padding-top: 5px;
>>>>>>> 67da7684747c845bedaee17ffe1cb91523885388
}

h1,
h4,
p {
    font-family: 'ChomskyRegular';
}

<<<<<<< HEAD
h1{
    font-size: 1.9rem;
=======
h1 {
    font-size: 2.2rem;
>>>>>>> 67da7684747c845bedaee17ffe1cb91523885388
}

.logo {
    margin: 20pt 0 0 80pt;
    width: 90pt
}

h4,
.text{
    font-size: 1rem;
}

.text {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

.btn-grad {
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn-grad:hover {
    border: 1px solid white;
}

.share-buttons {
    padding: 16px;
}

.share-buttons a {
    padding: 8px;
    font-size: 30px;
    text-decoration: none;
}


/*Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #content {
        padding-top: 50pt;
    }
    .logo {
        margin: 20pt 0 0 80pt;
        width: 200pt
    }
    h1,
    h4,
    p {
        text-align: left;
    }
    h1 {
        font-size: 4rem;
    }
    h4,
    .text {
        font-size: 2rem;
        margin-top: 5px;
    }
    p {
        font-size: 1.3rem;
    }
    #footer {
        margin-top: 4em;
    }
}