@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
    font-family:  'Poppins', sans-serif;
}

.row {
    width: 100%;
}

header {
    background: #6D1AD8;
}
#header__nav .header__nav__brand {
   font-size: 15px;
}

#header__nav .navbar__menu button {
   background: #6D1AD8;
   color: #fff;
   border-radius: 10px 0 10px 10px;
   border: none;
   font-size: 1em;
   font-weight: bold;
}

#header__nav .navbar__menu button:hover {
   background: #fff;
   color: #6d1ad8;
   border-radius: 10px 0 10px 10px;
   border: none;
   font-size: 1em;
   font-weight: bold;
}

.faq-header {
    font-size: 25px;
    font-weight: bold;
}

.card {
    border: none;
    background: #fff;
    color: #000;
    box-shadow: 0px 5px 5px #c4c4c4;
}

.card-header {
    background: #fff;
    border:none;
}

.card-header a{
    color: #000;
    text-decoration: none;
    width: 100%;
    text-align: left;
}

.card-header a:hover, .card-header a:focus {
    color: #000;
    text-decoration: none;
}

.panel-title > a.collapsed:before {
    content:"\f067";
    float: right !important;
}

.panel-title > a:before {
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
    float: right !important;
}



.card-body {
    width: 97%;
    margin: 0 auto;
}
