@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body{
    background-color: #000;
    font-weight: 100;
}
html{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}
.btn,
input.form-control:active,
input.form-control:focus{
    outline: 0;
    border: 0;
    box-shadow: none;
}
.col-sm{
    padding: 0;
}
.container-fluid{
    height: 100vh;
    overflow: hidden;
}
.row{
    height: 100vh;
    position: relative;
    height: 100%;
    overflow: hidden;
}
nav.navbar{
    height: 56px;
    padding: 0 0 0 10px;
    margin: 0;
}
.signup-wrapper nav.navbar{
    background: #3498DB;
    box-shadow: 0px 3px 15px #005073;
}
.signin-wrapper nav.navbar{
    background: #FFFFFF;
    box-shadow: 0px 3px 15px #D9D9D9;
}
.navbar img{
    object-fit: cover;
    height: 39.6px;
    width: 48px;
}
.col-sm.signup-wrapper, .col-sm.signin-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}
.col-sm.signup-wrapper{
    top: 100%;
    transition: top 0s 1s;
    color: #fff;
    background: linear-gradient(180deg, #3498DB 0%, rgba(255, 255, 255, 0) 100%), #00375e;
}

.col-sm.signin-wrapper{
    top: 0;
    transition: top 1s;
    background: #fff;
    color: #000;
}

/* Page actions */

input#toggle_signin:checked ~ .col-sm.signup-wrapper{
    top: 0;
    z-index: 1;
    transition: top 1s;
}
input#toggle_signin:checked ~ .col-sm.signin-wrapper{
    top: -100%;
    transition: top 0s 1s;
}


/* Section */
section > p{
    padding: 26px 0 21px 0;
}

/* Social */
a.sign-in-common{
    display: inline-block;
    color: #000;
    background-color: #fff;
    height: 45px;
    line-height: 45px;
    width: 132px;
    border: 1px solid #d2d3d3;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
}

.sign-in-common span{
    font-size: 14px;
    vertical-align: middle;
}

.sign-in-common img{
    width: 14px;
    height: 14px;;
    object-fit: cover;
    display: inline-block;
}

.sign-in-fb span{
    padding-left: 8px;
}
.sign-in-google span{
    padding-left: 16px
}

/* Page Divider */
section{
    padding: 0 17px;
    position: absolute;
    /* z-index: 1; */
    width: 100%;
}
.page-divider{
    padding: 27px 0;
    /* background-color: red; */
}
.page-divider hr{
    border: 1px solid #d2d3d3;
    /* width: calc(50% - 14px); */
    width: calc(50% - 20px);
    margin-top: 5px;
    margin-bottom: 0px;
}

.register-container{
    position: relative;
    height: 100%;
    overflow: hidden;
}
/* Form area */
form{
    margin-bottom: 34px;
}
form h4{
    text-align: center;
    padding-bottom: 40px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.signup-wrapper form h4{
    padding-bottom: 20px;
}
input.form-control{
    border: none;
    outline: none;
    border-radius: 0;
}
section input.form-control{
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 8px 0;
    font-size: 1rem;
    margin-bottom: 40px;
    width: 100%;
    background-color: transparent;
}
.signup-wrapper input.form-control{
    border-bottom: 1.5px solid #fff;
    background-color: transparent;
    color: #fff;
}
.form-control::placeholder{
    color: rgba(0, 0, 0, 0.38);
    line-height: 24px;
}
.signup-wrapper .form-control::placeholder{
    color: #fff;
}
form div a.btn-default, input.btn-default{
    background-color: #fff;
}
form div a.btn-default, input.btn-default{
    color: #fff;
    width: 242.89px;
    padding: 12px 0; /* Sums up the height to 48px*/
    background: linear-gradient(90deg, #3498DB 0%, rgba(255, 255, 255, 0) 100.05%), #005073;
    border-radius: 4px;
    box-sizing: content-box;
}
.signup-wrapper form > div a.btn-default, input.btn-default{
    background: #fff;
    color: #000;
}

.col-sm.signin-wrapper section .forgotten-pass{
    font-size: 12px;
    margin-bottom: 57px;
    color: #000;
}
.signup-wrapper .returning-visitor{
    color: #fff;
}
.signin-wrapper .returning-visitor{
    color: #000;
}
.info{
    display: none;
}
.hide-for-small.navbar-brand{
    display: none;
}


@media only screen and (max-height: 679px){
    form{
        margin-bottom: 0;
    }
    .col-sm.signup-wrapper form > a{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section .forgotten-pass{
        margin-bottom: 0;
    }
    .general-input input{
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: normal;
    }
    .col-sm.signup-wrapper .general-input input{
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: normal;
    }
    section > a{
        padding: 10px 0;
        margin: 0;
    }
}

@media only screen and (max-height: 679px){
    .col-sm.signup-wrapper, .col-sm.signin-wrapper{
        overflow-y: scroll;
    }
}
@media only screen and (min-width: 700px){
    body .container-fluid{
        background: linear-gradient(90deg, #11465E 4.59%, #2981BB 88.87%);
    }
    .row{
        height: 597px;
        width: 861px;
        background: #fff;
        box-shadow: 0px 24px 100px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    .signup-wrapper nav.navbar,
    .signin-wrapper nav.navbar{
        box-shadow: none;
        background: none;
    }
    .col-sm.signup-wrapper, .col-sm.signin-wrapper{
        position: absolute;
        top: 0;
        width: 486px;
        left: 0;
        right: initial;
        overflow-y: visible;
    }
    .col-sm.signin-wrapper{
        opacity: 1;
        transition: left 0.6s, opacity 0.6s;
    }
    .col-sm.signup-wrapper{
        opacity: 0;
        z-index: 0;
        transition: left 0.6s, opacity 0.6s;
        background:  #fff;
        color: #000;
    }
    .page-divider{
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .row form h4{
        font-size: 26px;
        padding-bottom: 0;
    }
    section{
        padding: 0 79px;
    }
    section form{
        margin-bottom: 0;
    }
    .row input.form-control{
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.38);
    }
    section .form-group{
        margin-bottom: 0;
    }
    section .form-group input.form-control{
        margin-bottom: 0px;
        font-size: 16px;
        padding-bottom: 15px;
        padding-top: 39px;
        font-size: 16px;
        height: 24px;
        line-height: 24px;
    }
    .signup-wrapper section .form-group input.form-control{
        padding-top: 30px;
        padding-bottom: 15px;
        border-bottom: 1.5px solid #d3d3d3;
        background-color: transparent;
    }
    section > p{
        padding: 19px 0;
    }
    .signup-wrapper section > p{
        margin: 0;
    }
    section form > div a.btn-default, input.btn-default{
        margin-top: 53px;
        width: 203px;
    }
    .signup-wrapper form > div a.btn-default, input.btn-default{
        background: linear-gradient(90.43deg, #3498DB 0.11%, rgba(255, 255, 255, 0) 97.72%), #005073;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 45px;
        margin-bottom: 15px;
    }
    .col-sm.signup-wrapper .general-input input{
        margin-bottom: 0;
    }
    .row .form-control::placeholder,
    .signup-wrapper .form-control::placeholder{
        color: rgba(0, 0, 0, 0.38);
        line-height: 24px;
    }

    .hide-for-large.navbar-brand,
    .hide-for-large{
        display: none;
    }
    .hide-for-small.navbar-brand{
        display: block;
    }
    a.sign-in-common{
        height: 35.58px;
        line-height: 35.58px;
        border: 1px solid #D2D3D3;
        border-radius: 0;
    }
    /* Grid */
    .col-sm section{
        display: grid;
        grid-template-columns: auto;
    }
    .col-sm section form{
        grid-column: 1/3;
        grid-row: 1;
    }
    .col-sm.signin-wrapper section .forgotten-pass{
        grid-column: 1/3;
        grid-row: 2;
        margin: 27px 0 35px 0;
    }
    .signin-wrapper .page-divider,
    .signup-wrapper .guide{
        grid-column: 1/3;
        grid-row: 3;
    }
    .signup-wrapper .page-divider{
        grid-column: 1/3;
        grid-row: 2;
    }
    .signin-wrapper .guide,
    .signup-wrapper .sign-in-with-social{
        grid-column: 1/3;
        grid-row: 4;
    }
    .signin-wrapper .sign-in-with-social{
        grid-column: 1/3;
        grid-row: 5;
    }

    input#toggle_signup_1:checked ~ .row .info div.a{
        left: -100%;
        opacity: 0;
    }
    input#toggle_signup_1:checked ~ .row .info div.b{
        right: 0;
        opacity: 1;
    }

    /* INFO */
    .info{
        display: block;
        height: 100%;
        width: 375px;
        background: #00618C;
        position: absolute;
        top: 0;
        right: 0;
        transition: right 0.6s;
        z-index: 10;
        overflow: hidden;
        color: #fff;
    }
    .info label{
        background-color: transparent;
        width: 203px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #fff;
        border-radius: 6px;
        color: #fff;
    }

    .info div.a, .info div.b{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .info div.a{
        left: 0;
        transition: left 0.6s, opacity 0.6s;
        opacity: 1;
    }
    .info div.b{
        opacity: 0;
        right: -100%;
        transition: right 0.6s, opacity 0.6s;
    }

    .info > .a > a, .info > .b > a{
        margin-top: 133px;
        margin-bottom: 32px;
    }
    .main-message{
        width: 330px;
        margin: 0 auto;
        margin-top: 51px;
        margin-bottom: 77px;
    }
    input#toggle_signup_1:checked ~ .row .info{
        right: calc(100% - 375px);
    }
    input#toggle_signup_1:checked ~ .row .col-sm.signin-wrapper,
    input#toggle_signup_1:checked ~ .row .col-sm.signup-wrapper{
        left: calc(100% - 486px);
    }
    input#toggle_signup_1:checked ~ .row .col-sm.signin-wrapper{
        opacity: 0;
    }
    input#toggle_signup_1:checked ~ .row .col-sm.signup-wrapper{
        opacity: 1;
        z-index: 1;
    }
    .container-fluid{
        position: relative;
    }
}
