body {
    background: #6D1AD8;
    font-family: 'Poppins', sans-serif;
}

#header__nav .header__nav__brand {
    font-size: 14px;
}

#header__nav .navbar__menu button {
    background: #6D1AD8;
    color: #fff;
    border-radius: 10px 0 10px 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

#header__nav .navbar__menu button:hover {
    background: #fff;
    color: #6d1ad8;
    border-radius: 10px 0 10px 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

main {
    margin-top: 100px;
    color: #fff;
}

main .main__caption {
    font-size: 3em;
    font-weight: 700;
    line-height: 1.5;
}

main .main__description {
    width: 65%;
}

main .line-through {
    width: 40%;
    height: 10px;
    border-top: 2px solid #fff;
    margin: 4px 0;
}

main .description__advantages {
    font-size: 1em;
}

main .get-started {
    background: #fff;
    color: #6d1ad8;
    border-radius: 10px 0 10px 10px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

main .get-started:hover {
    background-color: #fff;
    color: #000000;
}


/* RESPONSIVE STYLING */

@media screen and (min-width: 1600px) {
    .main_pad {
        margin-left: -100px;
    }
    .navbar-brand {
        padding-left: 8rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    img.land-logo {
        width: 400px;
    }
}


/* FOR SMALL DEVICES */

@media screen and (max-width: 600px) {
    main .main__caption {
        font-size: 2.3em;
    }
    .land-logo {
        display: none;
    }
    .navbar-brand {}
    .main_pad {
        margin-left: unset;
    }
}